.currentWeather{
  display: flex;
  justify-content: space-around;
  margin: 25px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
}

.currentWeather h2{
  font-size: 1.8rem;
  margin-bottom: 5px;
}
